
:root {
    --bg-page: #fff9e2;
    --bg-input: #ffdeb8;
    --bg-btn-primary: #ffdeb8;
    --bg-btn-admin: #d1b3ff;
    --text-main: #4b0082;
    --text-label: #333;
    --text-btn: #000;
}


body:has(#dark-mode-trigger:checked) {
    --bg-page: #31083F;
    --bg-input: #945797;
    --bg-btn-primary: #945797;
    --bg-btn-admin: #300a28;
    --text-main: #ffffff;
    --text-label: #ffffff;
    --text-btn: #ffffff;
}

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background-color: var(--bg-page);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: all 0.3s ease;
}

#dark-mode-trigger { display: none; }

.toggle-label {
    position: fixed; top: 20px; right: 20px;
    background-color: var(--text-main);
    color: var(--bg-page);
    padding: 10px 20px; border-radius: 8px;
    cursor: pointer; font-weight: bold; z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.cadastro-container {
    text-align: center;
    width: 100%; max-width: 950px;
    padding: 20px;
}

.logo { width: 250px; margin-bottom: 20px; }

h1 { color: var(--text-main); margin-bottom: 40px; font-weight: 500; font-size: 2rem; }


.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    color: var(--text-label);
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--bg-input);
    color: var(--text-btn);
}


.button-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button, .button-row a {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    color: var(--text-btn);
}

.btn-secondary, .btn-primary { background-color: var(--bg-btn-primary); }
.btn-highlight { background-color: var(--bg-btn-admin); }

button:hover, .button-row a:hover {
    filter: brightness(0.9);
}